/* ==== === ==== === ==== === ==== */
// GENERAL CLASSES
/* ==== === ==== === ==== === ==== */
.cursor {
    &-pointer {
        cursor: pointer;
    }

    &-default {
        cursor: default;
    }
}

.dir {
    &-ltr {
        direction: ltr;
    }

    &-rtl {
        direction: rtl;
    }
}

.no-events {
    pointer-events: none;
}

.text-underline {
    text-decoration: underline;
}

.w-100 {
    width: 100%
}

.ms-md-auto {
    margin-left: unset;
    margin-inline-start: auto;
}

.svg-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
        min-width: 10px;
    }
}

.fw {
    &-lighter {
        font-weight: 100;
    }

    &-light {
        font-weight: 300;
    }

    &-normal {
        font-weight: 400;
    }

    &-medium {
        font-weight: 500;
    }

    &-semibold {
        font-weight: 600;
    }

    &-bold {
        font-weight: 700;
    }

    &-extrabold {
        font-weight: 800;
    }

    &-heavy {
        font-weight: 900;
    }
}

// Text Align
.text {
    &-start {
        text-align: start;
    }

    &-center {
        text-align: center;
    }

    &-end {
        text-align: end;
    }
}

/* =-=-=-=-=-=-=-=-=-= */
.flex-center-wrapper {
    display: flex;
    align-items: center;
}

.flex-center-8-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.flex-start-10-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.flex-center-10-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-center-16-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.flex-center-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-between-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}