/* =-=-=-=-=-= Font Face || CDN =-=-=-=-=-= */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
/* === === === === === === RESET CODE === === === === === === */
*, *::before, *::after{box-sizing: border-box;}
*{margin: 0; padding: 0; font: inherit}
html{color-scheme: dark light;}
/* img{width: 100%;} */
img, picture, video{display: block; max-width: 100%;}
ul{list-style: none; padding: 0; margin: 0;}
a {text-decoration: none; transition: 0.2s all ease-in-out;cursor: pointer;}
a:-webkit-any-link:focus-visible{outline: 0px;}
h1, h2, h3, h4, h5, h6, p{margin: 0}
/*** OR  ***/
input, textarea, button, select{font: inherit}
/* =-=-=-=-=-= VARIABLES =-=-=-=-=-= */
:root{
    /* body */
    --bg-body:white;
    --clr-body:#19193E;
    --ff-body:'Almarai';
    --fs-body:14px;
    --fw-body:400;
    /* Colors */
    --clr-primary:#1E53F5;
    --clr-light-primary:#E2E9F9;
    --clr-success:#00AE6C;
    --clr-light-success:#E1F6EE;
    --clr-warning:#E0992E;
    --clr-light-warning:#F6F4E1;
    --clr-danger:#C80000;
    --clr-light-danger:#F6E1E1;
}
/* =-=-=-=-=-= GENERAL =-=-=-=-=-= */
.svg-primary{color: var(--clr-primary);}
.svg-danger{color: var(--clr-danger);}
/* =-=-=-=-=-= BODY =-=-=-=-=-= */
/* Body | RTL */
body{
  font-weight: var(--fw-body);
  font-size: var(--fs-body);
  color: var(--clr-body);
  background: var(--bg-body);
  font-family: var(--ff-body),sans-serif;
}
/* === === === === === === === === === === === === === === === */
/* === === === === === ===  MAIN LAYOUT === === === === === === */
.wrapper,
.wrapper > .content{
    display: flex;
    flex-direction: column;
}
.wrapper{
    position: relative;
    padding: 24px 12px;
    background:#F5F9FD;
    border-start-start-radius: 32px;
    border-end-start-radius: 32px;
    transition: 0.3s all ease-in-out; 
}
.flex-root {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1;
    min-height: 100vh;
}
.flex-root .flex-column-fluid {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.flex-root .flex-row-fluid {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 auto;
    min-width: 0;
}
.wrapper main{width: 100%; padding-top: 24px;}
/* aside */
.flex-root .flex-row-auto {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
/* =-=-=-=-=-= ASIDE =-=-=-=-=-= */
/* .cont-aside{} */
.cont-aside .aside-content {display: flex; flex-direction: column; gap: 20px; min-width: 222px;max-width: 270px; padding:24px;padding-inline-end: 10px; background:white}
.cont-aside .aside-logo {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(30, 83, 245, 0.09);
    margin-inline-end: 14px;
}
.cont-aside .aside-menu {display: flex; flex-direction: column; gap: 4px;overflow-y: auto;max-height: calc(100vh - 100px);height: calc(100vh - 100px); padding: 0 14px;}
.cont-aside .aside-menu .menu-title h3 {font-size: 12px; font-weight: 400; color: var(--clr-body); margin-bottom: 8px;}
.cont-aside .aside-menu .menu-link {
    color: var(--clr-body);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 18px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    transition: 0.2s all;
}
.cont-aside .aside-menu .menu-link .svg-icon {color: var(--clr-primary);width: 20px;height: 20px;transition: 0.2s all;}
/* Hover */
.cont-aside .aside-menu .menu-link:hover,
.cont-aside .aside-menu .menu-link.active{background: var(--clr-primary); color: white; transition: 0.2s all;}
.cont-aside .aside-menu .menu-link:hover .svg-icon,
.cont-aside .aside-menu .menu-link.active .svg-icon {color: white; transition: 0.2s all;}
/* Aside SUBMENU */
.cont-aside .aside-menu .sub-menu .menu-link {font-size: 12px; padding-block: 12px;}
.cont-aside .aside-menu .sub-menu {padding-top: 16px; padding-inline: 12px;}
.cont-aside .aside-menu .sub-menu > li:not(:last-child) {margin-bottom: 8px;}
.cont-aside .aside-menu .menu-item.has-menu > .menu-link {padding-inline-end: 40px; position: relative;}
.cont-aside .aside-menu .menu-item.has-menu > .menu-link .menu-arrow {position: absolute; margin-block: auto; inset-inline-end: 12px;}
.cont-aside .aside-menu .menu-item.has-menu > .menu-link .menu-arrow svg {width: auto; height: 7px;}
.cont-aside .aside-menu .menu-item.has-menu > .menu-link[aria-expanded="true"] .menu-arrow {transform: rotate(180deg);}
/* Aside Fixed  */
.cont-aside.aside-fixed {position: fixed; top: 0; inset-inline-start: 0; z-index: 1;}
.cont-aside.aside-fixed ~ .wrapper {margin-inline-start: 270px;}
/* Aside Mobile */
.cont-btn.btn-aside-close {
    position: absolute;
    padding: 4px;
    height: auto;
    min-height: auto;
    border-radius: 4px;
    inset-inline-end: 24px;
    top: 26px;
}
.cont-btn.btn-aside-close svg {width: 16px; height: 16px;}
.cont-aside.aside-mobile-opened{transform: translateX(0);}
.cont-aside::before{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    inset-inline-start: 0;
    z-index: -1;
}
.cont-aside.aside-mobile-opened::before{content:'';}
.cont-aside.aside-mobile-opened ~ .wrapper{pointer-events: none;}
/* =-=-=-=-=-= HEADER =-=-=-=-=-= */
.cont-header{padding-bottom: 24px; border-bottom: 1px solid rgba(30, 83, 245, 0.09);}
.cont-header .header-container,
.cont-header .header-container .header-toolbar {display: flex; align-items: center; justify-content: space-between; gap: 8px;}
.cont-header .header-container h2 {font-size: 18px; font-weight: 700; color: var(--clr-body); line-height: 20px;}
.cont-header .user-info {min-width:160px}
.cont-header .user-info .user-welcome {display: flex; justify-content: space-between; align-items: center; gap: 12px; padding: 8px; background: white; border-radius: 8px; cursor: pointer;}
.cont-header .user-info .user-welcome .user-details {display: flex; align-items: center; gap: 12px;}
.cont-header .user-info .user-welcome p {font-size: 12px; font-weight: 700; color: var(--clr-body);}
.cont-header .user-info .user-welcome p span{color: var(--clr-primary);}

/* Dropdown */
.user-welcome.show .dropdown-arrow {transform: rotate(180deg); transition: 0.2s transform;}
.user-welcome .dropdown-arrow {width: 24px; height: 24px; color:var(--clr-body); transition: 0.2s transform;}
.user-info .dropdown-menu {
    margin-top: 5px !important;
    border: 0;
    padding: 16px 0px;
    border-radius: 8px;
    box-shadow: -15px 15px 26px 0px #EDEDED;
}
.user-info .dropdown-menu li a{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
    font-size: 12px;
    font-weight: 700;
    color: var(--clr-body);
}
.user-info .dropdown-menu li:not(:last-child){margin-bottom: 8px;}
/* =-=-=-=-= BREADCRUMBS =-=-=-=-= */
.cont-breadcrumbs {padding: 16px 0px; border-bottom: 1px solid rgba(30, 83, 245, 0.09);}
.cont-breadcrumbs .breadcrumbs-list {display: flex; align-items: center; gap: 8px; flex-wrap: wrap;}
.cont-breadcrumbs .breadcrumbs-list li a {
    font-size: 12px;
    color: #637280;
    font-weight: 700;
    line-height: 16px;
    display: flex;
    align-items: center;
}
.cont-breadcrumbs .breadcrumbs-list li a.active,
.cont-breadcrumbs .breadcrumbs-list li a:hover{color: var(--clr-primary);}
.cont-breadcrumbs .breadcrumbs-list li:not(.first-item) {position: relative; padding-inline-start: 13px;}
.cont-breadcrumbs .breadcrumbs-list li:not(.first-item)::before {
    content: '';
    position: absolute;
    width: 5px;
    aspect-ratio: 1;
    inset: 0;
    margin-block: auto;
    border-radius: 100%;
    background: var(--clr-body);
}
/* === === === === === === === === === === === === === === === */
/* === === === === === ===  COMPONENTS === === === === === === */
/* =-=-=-=-=-= SVG =-=-=-=-=-= */
.svg-icon {display: flex; align-items: center; justify-content: center;}
/* =-=-=-=-=-= BUTTONS =-=-=-=-=-= */
.cont-btn{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px 24px;
    min-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight:400;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightgray;
    color: var(--clr-body);
}
.cont-btn.btn-primary{
    background-color: var(--clr-primary);
    color: white;
}
.cont-btn.btn-light-success{
    background-color: var(--clr-light-success);
    color: var(--clr-success);
}
.cont-btn.btn-aside{padding: 12px; background: white;}
/* =-=-=-=-=-= CARDS =-=-=-=-=-= */
.cont-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 24px;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border-radius: 8px;
    margin-bottom: 24px;
}
.cont-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
    background-color: transparent;
}
.cont-card .card-header .card-title {
    color: var(--clr-body);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}
/* === === === === === === === === === === === === === === === */
/* === === === === === ===  MODULES === === === === === === */
/* =-=-=-=-= Content Card =-=-=-=-= */
.cont-content-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
    background: #FAFAFB;
    border-radius: 8px;
    margin-bottom: 24px;
    gap: 8px;
    flex-wrap: wrap;
}
.cont-content-card .card-details {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}
.cont-content-card .card-details .details-icon {
    width: 56px;
    height: 50px;
    background: gray;
    padding: 12px;
    border-radius: 8px;
}
.cont-content-card .details-info h4 {
    color: var(--clr-body);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 8px;
}
.cont-content-card .details-info p{
    color: var(--clr-body);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
}
.cont-content-card .card-details .details-icon.icon-light-primary{background:var(--clr-light-primary); color:#5194E9;}
.cont-content-card .card-details .details-icon.icon-light-success{background:var(--clr-light-success); color:var(--clr-success);}
.cont-content-card .card-details .details-icon.icon-light-warning{background:var(--clr-light-warning); color:var(--clr-warning);}
.cont-content-card .card-details .details-icon.icon-light-danger{background:var(--clr-light-danger); color:var(--clr-danger);}
/* === === === === === === === === === === === === === === === */
/* === === === === === ===  MEDIAQUERY === === === === === === */
@media screen and (min-width:768px) {
    .cont-btn.btn-aside,
    .cont-btn.btn-aside-close{display: none;}
}
@media screen and (max-width:767.98px) {
    .cont-aside{transform: translateX(300px);}
    .cont-aside.aside-fixed ~ .wrapper{margin-inline-start: 0; border-radius: 0;}
    .cont-header .user-info .user-welcome p,
    .user-welcome .dropdown-arrow {display: none;}
    .cont-header .user-info {min-width: auto;}
}
/* === === === === === === === === === === === === === === === */
/* === === === === === === === === === === === === === === === */
.cont-header .user-details img {border-radius: 4px;}
/* === === === === === ===  PROFILE === === === === === === */
.cont-card.card-profile{
    padding: 0;
}
.card-profile .profile-header {position: relative;}
.card-profile .profile-header > img {
    object-fit: cover;
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;
    max-height: 280px;
    width: 100%;
}
.card-profile .profile-header .user-img{
    position: absolute;
    bottom: -70px;
    inset-inline-start: 45px;
    width: 140px;
    aspect-ratio: 1;
    border-radius: 100%;
}
.card-profile .profile-header .user-img img{
    width: 140px;
    aspect-ratio: 1;
    border: 5px solid white;
    border-radius: 100%;
    
}
.profile-info {padding: 24px; padding-top: 65px;}
.profile-info .info-item {padding-block: 12px; border-bottom: 1px solid rgba(40, 90, 163, 0.09);}
.profile-info .info-item:first-child {padding-top: 0;}
.profile-info .info-item:last-child {border-bottom: 0;}
.profile-info .info-item h4 {
    color: #2A3D4C;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.profile-info .info-item p{
    color: #19193E;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
}
