@layer reset, general, layout, components, themes, utilities;

@import url('./reset.css') layer(reset);
@import url('./general.css') layer(general);
@import url('./layout.css') layer(layout);
@import url('./components.css') layer(components);
@import url('./theme.css') layer(theme);
@import url('./utilities.css') layer(utilities);
