/* =-=-=-=-= POSTS PAGE || CARD =-=-=-=-= */
.post-card {
    --card-padding: 1rem 1.25rem;
    --card-border-radius: 1rem;
    --card-bg: #F7F8FB;
    --card-mb:1.5rem;
}
.post-img{
    width: 100%;
    object-fit: cover;
    height: 17.25rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
.post-author{
    display: flex;
    align-items: center;
    gap: 0.875rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}
.post-author .author,
.post-author .time{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
.post-author img{
    width: 0.75rem;
    height: 0.75rem;
    object-fit: contain;
}
.post-author p{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #5A7890;
}
.post-title{
    margin-bottom: 1.5rem;
    text-align: start;
    color: var(--body-clr);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.post-description{
    --trim-lines-nubmers:3;
    text-align: start;
    color: #5A7890;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.0625rem;
    margin-bottom: 1.5rem;
    min-height: 3.1875rem;
}
.post-actions{text-align: start;}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= SUBSCRIPTION CARD =-=-=-=-= */
.subscription-card{
    --card-padding:3.5rem;
    /* --card-mb:1.5rem */
}
.subscription-content h4{
    margin-bottom: 1.5rem;
    color: var(--body-clr);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.125rem;
}
.subscription-content p{
    margin-bottom: 1.5rem;
    color: var(--body-clr);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.subscription-content .subscription-form{}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= TYPOGRAPY =-=-=-=-= */
.rsdblog-typography h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.rsdblog-typography strong {
  font-weight: 700;
}
.rsdblog-typography em,
.rsdblog-typography i {
  font-style: italic;
}
.rsdblog-typography ul,
.rsdblog-typography ol {
  margin-bottom: 1.5rem;
}
.rsdblog-typography ul{
    padding-inline-start: 0.25rem;
}
.rsdblog-typography ul li {
  position: relative;
  padding-right: 1.25rem;
  margin-bottom: 3px;
  line-height: 1.5rem;
}
.rsdblog-typography ul li:last-child {
  margin-bottom: 0;
}
.rsdblog-typography ul li ul {
  margin-top: 1rem;
}
.rsdblog-typography ul li::before {
  content: '';
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  inset-inline-start: 0;
  background: var(--body-clr);
  width: 5px;
  height: 5px;
  border-radius: 100%;
}
.rsdblog-typography ol {
  counter-reset: item;
  padding: 0;
  padding-inline-start: 1.25rem;
}
.rsdblog-typography ol li {
  position: relative;
  margin-bottom: 3px;
  line-height: 1.5rem;
}
.rsdblog-typography blockquote {
  position: relative;
  padding: 30px;
  padding-right: 110px;
  background-color: #f8f8f8;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* .rsdblog-typography blockquote::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 50px;
  background-image: url('../img/svg/left-quote-gray.svg');
  right: 30px;
  top: 30px;
} */

.rsdblog-typography a:not(.btn) {
  font-size: 0.87rem;
  font-weight: 500;
  color: var(--clr-primary);
  text-decoration: underline;
}
.rsdblog-typography hr {
  background-color: #DBE1F3;
  margin: 1.5rem 0;
}
.rsdblog-typography img {
  display: inline-flex;
  margin: 0 auto;
  max-width: calc(50% - 3px);
  margin-bottom: 1.5rem;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= TYPOGRAPY =-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */