:root{
  --body-clr: #23293F;
  --body-bg: rgba(174, 187, 216, 0.1); /* #AEBBD8 / 10%*/
  --body-fs: 1rem;
  --body-fw: 400;
  --body-ff-ar: 'Montserrat-Arabic', sans-serif;
  --body-ff-en: 'Montserrat', sans-serif;

  --clr-primary: #3283D0;
  --clr-secondary: grey;
  --clr-third: lightblue;
  --clr-success: green;
  --clr-warning: orange;
  --clr-danger: red;
  --clr-info: darkblue;
  --clr-white: white;
  --clr-gray: gray;
  --clr-dark: darkgray;
  --clr-black: black;

  --clr-light-primary: #3192ED;
  --clr-light-primary-20: rgba(49, 146, 237, 0.2);
  
  --fs-xs-min: 0.75rem;
  --fs-xs-max: 0.75rem;
  --fs-sm-min: 0.875rem;
  --fs-sm-max: 0.875rem;
  --fs-md-min: 1.125rem;
  --fs-md-max: 1.125rem;
  --fs-lg-min: 1.125rem;
  --fs-lg-max: 1.5rem;
  --fs-xl-min: 1.125rem;
  --fs-xl-max: 2rem;
  --fs-ratio: 7.5vw;
}