/* =-=-=-=-= POSTS PAGE || CARD =-=-=-=-= */
.post-card {
    --card-padding: 1rem 1.25rem;
    --card-border-radius: 1rem;
    --card-bg: #F7F8FB;
    --card-mb:1.5rem;
}
.post-img{
    width: 100%;
    object-fit: cover;
    height: 17.25rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
.post-author{
    display: flex;
    align-items: center;
    gap: 0.875rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}
.post-author .author,
.post-author .time{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
.post-author img{
    width: 0.75rem;
    height: 0.75rem;
    object-fit: contain;
}
.post-author p{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #5A7890;
}
.post-title{
    margin-bottom: 1.5rem;
    text-align: start;
    color: var(--body-clr);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.post-description{
    --trim-lines-nubmers:3;
    text-align: start;
    color: #5A7890;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.0625rem;
    margin-bottom: 1.5rem;
    min-height: 3.1875rem;
}
.post-actions{text-align: start;}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= SUBSCRIPTION CARD =-=-=-=-= */
/* .subscription-card{
    --card-padding:3.5rem;
} */
.subscription-content h4{
    margin-bottom: 1.5rem;
    color: var(--body-clr);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.125rem;
}
.subscription-content p{
    margin-bottom: 1.5rem;
    color: var(--body-clr);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
}
@media screen and (max-width:767.98px){
  .subscription-card .col-md-9 {order: 2;}
  .subscription-card .col-md-3 {orphans: 1;}
  .subscription-card .subscription-img {margin-bottom: 2rem;max-width: max(75%, 20rem); margin-inline:auto}
  .subscription-card .subscription-form{margin-bottom:0;}
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= TYPOGRAPY =-=-=-=-= */
.rsdblog-typography h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.rsdblog-typography p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.rsdblog-typography strong {
  font-weight: 700;
}
.rsdblog-typography em,
.rsdblog-typography i {
  font-style: italic;
}
.rsdblog-typography ul,
.rsdblog-typography ol {
  margin-bottom: 1.5rem;
}
.rsdblog-typography ul{
    padding-inline-start: 0.25rem;
}
.rsdblog-typography ul li {
  position: relative;
  padding-right: 1.25rem;
  margin-bottom: 3px;
  line-height: 1.5rem;
}
.rsdblog-typography ul li:last-child {
  margin-bottom: 0;
}
.rsdblog-typography ul li ul {
  margin-top: 1rem;
}
.rsdblog-typography ul li::before {
  content: '';
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  inset-inline-start: 0;
  background: var(--body-clr);
  width: 5px;
  height: 5px;
  border-radius: 100%;
}
.rsdblog-typography ol {
  counter-reset: item;
  padding: 0;
  padding-inline-start: 1.25rem;
}
.rsdblog-typography ol li {
  position: relative;
  margin-bottom: 3px;
  line-height: 1.5rem;
}
.rsdblog-typography blockquote {
    position: relative;
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #F7F8FB;
    border-radius: 0.75rem;
    font-size: 0.8755rem;
    font-weight: 500;
    margin-bottom: 0.875rem;
}
.rsdblog-typography blockquote::before,
.rsdblog-typography blockquote::after {
  content: '"';
  position: absolute;
  width: 5px;
  height: 10px;
  top: 5px;
}
.rsdblog-typography blockquote::before {
    inset-inline-start: 10px;
}
.rsdblog-typography blockquote::after {
    inset-inline-end: 10px;
}

.rsdblog-typography a:not(.btn) {
  font-size: 0.87rem;
  font-weight: 500;
  color: var(--clr-primary);
  text-decoration: underline;
}
.rsdblog-typography hr {
  background-color: #DBE1F3;
  margin: 1.5rem 0;
}
.rsdblog-typography img {
  display: inline-flex;
  margin: 0 auto;
  max-width: calc(50% - 3px);
  margin-bottom: 1.5rem;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= AUTHOR CARD =-=-=-=-= */
.author-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #F7F8FB;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
}
.author-details .author-img img {
    width: 4.0625rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
}
.author-details .author-info .author-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.0625rem;
    color: var(--body-clr);
    margin-bottom: 0.5rem;
}
.author-details .author-info .author-description {
    color: #5A7890;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.0625rem;
    margin-bottom: 1.5rem;
}
.author-info .author-social {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: #5A7890;
}
.author-info .author-social li a{
    color: #5A7890;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= BANNER CARD =-=-=-=-= */
.banner-content h3 {
    font-size: 1.125rem;
    color: var(--body-clr);
    margin-bottom: 2.25rem;
    line-height: 1.375rem;
}
.banner-content p {
    font-size: 2.25rem;
    color: var(--body-clr);
    margin-bottom: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= BOOK CARD =-=-=-=-= */
.book-card .book-img{
  padding: 0.5rem;
  border-radius: 1.125rem;
  background: linear-gradient(264deg, rgba(255, 255, 255, 0.60) 0%, rgba(192, 200, 218, 0.60) 100%);
}
.book-card .book-img img{
  border-radius: 0.75rem;
  max-height: 24rem;
  object-fit: cover;
  object-position: top;
}
.book-card .book-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.375rem;
    color: var(--body-clr);
    margin-bottom: 1rem;
}
.book-card .rsdblog-typography {
    color: #5A7890;
}
.book-card .rsdblog-typography > * {
    margin-bottom: 1rem;
    line-height: 1.125rem;
}
.book-card .book-author {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #5A7890;
}
.book-subscription h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--body-clr);
    line-height: 1.25rem;
    margin-bottom: 1rem;
}
.book-subscription p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #5A7890;
    margin-bottom: 1rem;
}
.book-subscription-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1rem;
}
.book-subscription-form > * {flex: 1;}

.book-download h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.book-download ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.book-download ul .rsdblog-btn {
  border-radius: 0.5rem;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-= */
/* =-=-=-=-= SUBSCRIPTION FOR || FOOTER || SECTION =-=-=-=-= */
.subscription-form {
    position: relative;
    margin-bottom: 1.5rem;
}
.subscription-form .rsdblog-btn {
    position: absolute;
    inset-inline-end: 0.625rem;
    inset-block: 0;
    --btn-margin-block: auto;
    --btn-height: 2.8125rem;
}
.subscription-form .rsdblog-form-control {
    width: 100%;
    --formcontrol-border-radius: 40vw;
    --formcontrol-minheight: 4.0625rem;
    --formcontrol-padding-inline: 1.5rem 7.25rem;
}
.rsdblog-footer .subscription-form .rsdblog-form-control {--formcontrol-border-clr: transparent;}
@media screen and (min-width:992px){
    .subscription-card .subscription-form {
      margin-bottom: 0;
      max-width: 65%;
    }
}