/* prefix = rsdblog */
/* =-=-=-=-= Buttons =-=-=-=-= */
.rsdblog-btn{
  --btn-border-radius: 40vw;
  --btn-margin-block: 0;
}
.btn-light-primary {
  --btn-clr: var(--clr-primary);
  --btn-bg: var(--clr-light-primary-20);
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-= CARD =-=-=-=-= */
.rsdblog-card{
  --card-mb: 2.5rem;
  --card-border-radius: 1.25rem;
  --card-header-padding: 0 0 1.5rem 0;
  --card-header-borderbottom-width: 0px;
  --card-header-title-clr: var(--body-clr);
  --card-header-title-fw: 500;
  --card-header-title-linheight: 1.5rem;
  /* --card-body-padding-block: 0; */
  /* --card-body-padding-inline: 0; */
  --card-footer-bordertop-width: 0;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-= TABLIST =-=-=-=-= */
.rsdblog-tablist{
  text-align: center;
  --tablist-tabs-padding-block:0.5rem;
  --tablist-tabs-padding-inline:0.5rem;
  --tablist-tabs-bg: white;
  --tablist-tabs-border-radius:40vw;
  --tablist-tablink-padding-block:0.875rem;
  --tablist-tablink-padding-inline:1.5rem;
  --tablist-tablink-border-radius:40vw;
  --tablist-tablink-clr:var(--body-clr);
}